In [1]:
import requests
import pandas as pd
import re

In [26]:
url = "https://www.marvel.com/movies"
content = requests.get(url).text
pattern = "card-body__headline\">(.+?)</p>.*?(\d{4})</p>.*?"
matched = re.findall(pattern, content, re.S)
for m in matched:
    print(f"{m[1]}")

2021
2021
2021
2021
2021
2021
2021
2021
2021
2019
2019
2019
2021
2021
2021
2021
2021
2021
2021
2021
2020
2020
2020
2023
2022
2022
2022
2022
2021
2021
2021
2021
2019
2019
2019
2018
2018
2018
2017
2017
2017
2016
2016
2015
2015
2014
2014
2013
2013
2012
2011
2011
2010
2008
2008
2019
2018
2017
2016
2016
2014

In [22]:
pd.DataFrame(matched, columns=["movie", "year"])

                                             movie  year
0                                        Shang-Chi  2021
1       X-Men: The Onslaught Revelation  (2021) #1  2021
2                                  X-Men (2021) #3  2021
3                            Moon Knight (2021) #3  2021
4   The United States of Captain America (2021) #4  2021
..                                             ...   ...
56                                      Deadpool 2  2018
57                                           Logan  2017
58                               X-Men: Apocalypse  2016
59                                        Deadpool  2016
60                      X-Men: Days of Future Past  2014

[61 rows x 2 columns]